.sidebar {
  width: 30vh;
  background-color: #ff575f;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  margin-right: 5px;

  .menu_item {
    display: flex;
    padding: 5vh 0 5vh 3.5vh;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
    background-color: #ff6066;
    }
  }
  
  .icon {
    font-size: 3vh;
    margin-right: 2vh;
  }
  
  .text {
    white-space: nowrap;
    font-size: 3vh;
    color: #fff;
  }
}
  