.sidebar {
  width: 30vh;
  background-color: #fff;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  img {
    padding: 0 2.5vh;
    margin: 8vh 0;
  }

  .menu_item {
    display: flex;
    padding: 5vh 0 5vh 3.5vh;
    color: #4e008e;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #4e008e;
      color: #F2F2F2;

      .text {
        color: #F2F2F2;
      }
    }
  }
  
  .icon {
    font-size: 3vh;
    margin-right: 2vh;
  }
  
  .text {
    white-space: nowrap;
    font-size: 3vh;
    color: #4e008e;
  }
}
  